.vscode/**
.vscode-test/**
src/**
out/cli/**
bin/**
obj/**
dist/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.buildrstate
**/buildr.config.json
**/buildr.csproj
**/buildr.sln
**/*.map
**/*.ts
**/*.vsix
node_modules/**
